* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: monospace;
    font-size: 14rem;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: green;
}