* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-products {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 20px;
    padding: 15px 20px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: .25rem;
    box-shadow: 
                0 16px 24px 2px rgba(33,37,41,.02),
                0 6px 30px 5px rgba(33,37,41,.04),
                0 8px 10px -5px rgba(33,37,41,.1);
}

.item__title {
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}
.item__img {   
    height: 200px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(50%);
    object-fit: cover;
}

.item__price {
    padding: 15px 0;
}

.item__btn {
    padding: 10px 15px;
    font-family: inherit;
    font-size: inherit;

    background: 0;
    border: 1px solid grey;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.item__btn--active {
    border: 1 solid transparent;
    background-image: linear-gradient(to right bottom, #ffff1f, #ddff00, #b5ff00, #83ff00, #2cff00);
}

.container__counter {
    margin: 20px;
    width: 60px;
    height: 60px;
    font-weight: bold;
    color: #224e96;

    background-image: url('img/discount.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.container__cart {
    position: relative;
    margin: auto;
    position: fixed;
    width: 97%;
    height: 97vh;
    display: none;
    align-items: flex-start;
    background: #fff;
    box-shadow: 
    0 16px 24px 2px rgba(33,37,41,.02),
    0 6px 30px 5px rgba(33,37,41,.04),
    0 8px 10px -5px rgba(33,37,41,.1);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.cart__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    background-image: url('img/close.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}